entrypoint = "main.py"
modules = ["bun-1.1", "nodejs-20", "python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["go", "opencode"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true
